<div class="back auth-container">
  <div class="d-flex justify-content-center align-items-center">
    <mat-card class="example-card " appearance="outlined">
      <mat-card-header>
        <mat-card-title>Login/Register</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Login">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email :</mat-label>
              <input type="Email" matInput placeholder="Email" name="email" [(ngModel)]="authenticate.email">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password : </mat-label>
              <input type="password" matInput placeholder="Password" name="motDePasse" [(ngModel)]="authenticate.motDePasse">
            </mat-form-field>
            <button class="btn btn-success text-center mt-2" (click)="login()">Login</button>
          </mat-tab>

          <mat-tab label="Register">
            <form class="example-form" (ngSubmit)="registers()">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Prenom :</mat-label>
                <input type="text" matInput placeholder="Prenom" name="prenom" [(ngModel)]="register.prenom">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nom :</mat-label>
                <input type="text" matInput placeholder="Nom" name="nom" [(ngModel)]="register.nom">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email :</mat-label>
                <input type="Email" matInput placeholder="Email" name="email" [(ngModel)]="register.email">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password : </mat-label>
                <input type="password" matInput placeholder="Password" name="motDePasse" [(ngModel)]="register.motDePasse">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Rôle</mat-label>
                <mat-select name="role" [(ngModel)]="register.role">
                  <mat-option *ngFor="let role of roles" [value]="role">
                    {{ role }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <input class="mt-3 btn mb-3 form-control-lg btn btn-danger" type="submit" value="Register">
            </form>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
